/* Universal Styles Starts Here */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin:0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
header{
    padding-top: 50px;
    padding-bottom: 120px;
}
/* Universal Styles Ends Here */

/* Shared Style Starts Here */
.container{
    width: 82.5%;
    margin: 0 auto;
    /* background-color: rgb(136, 199, 247); */
    max-width: 1320px;
}
 
/* Shared Style Ends Here */

/* NewYear Section starts here  */
.happyNewYear{
border-radius: 16px;
background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
background-repeat: no-repeat;
height: 600px;
display: flex;
align-items: center;
justify-content: center;

}
.happyNewYearContent{
    width: 632px;
    text-align: center;
}
.happyNewYearContent h3{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
}

.happyNewYearContent h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */

}
/* NewYear Section ends here  */


/* sixtyfiveSection Starts Here  */
.sixtyfiveSection{
margin: 0px  auto;
 width: 802.9px;
 text-align: center;
}
.sixtyfiveSection h1{

color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 48px;
}
.sixtyfiveSection h4{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.sixtyfiveSection h2{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 48px;
}
.sixtyfiveSection img{
width: 802.9px;
height: 500px; 
margin-bottom: 120px;   
}
/* sixtyfiveSection Ends Here  */
/* Welcome Section Starts here  */


.welcome{
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    margin-bottom: 120px;
    display: flex;
    padding-left: 126px;
    padding-right: 108px;
    align-items: center;
    justify-content: space-between;
    gap: 39.17px;
}

.welcome .welcomeLeft h1{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
margin-bottom: 24px;
}
.welcome .welcomeLeft p{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 48px;
}
.welcome .welcomeLeft button{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: none;
border: none;
margin-left: 32px;
}

.welcome .welcomeRight img{
    width: 319px;
    height: 464px;
}

/* Welcome Section Ends here  */

/* place section starts Here  */
.place{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 482px;
    margin-bottom: 120px;
}
.placeHeaders{
    width: 549px;
    height: 168px;
    margin-bottom: 48px;
    margin-top: 100px;
}
.placeHeaders h1{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.placeHeaders h1 span{
    color: #F00;
}

.place button {
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
padding: 16px 32px;
border-radius: 8px;
background-color: #F00;
}



/* place section ends Here  */